body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    display:grid
}

.container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h1 {
    color: #4a90e2;
    margin-bottom: 1rem;
}

p {
    line-height: 1.6;
    margin-bottom: 1.5rem;
    color:firebrick;
    font-family: Cursive, Verdana; 
    position: relative;
}

.btn {
    display: inline-block;
    background-color: #4a90e2;
    color: white;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #357abd;
}

.circulo{
      width: 50px;
      height: 50px;
      background: orange;
      border-radius: 50%;
      position: absolute;
}

.up{
    background-color: aquamarine;
    border-radius: 10px;

}

.inner{
    background-color: gray;
    border-radius: 8px;
    border-color: #333;
    margin:5px ;
}

.core{
    display: flex;
    gap: 100px;
    margin-left: 75px;
}
